:root {
    /* Client Colour Scheme */
    --color-black: #5c523e;
    --color-dark: #8a7a5d;
    --color-neutral: #b8ac95;
    --color-light: #e1dcd2;
    --color-white: #f5f4f1;

    /* Bulma Color Overrides */
    /* Primary color - using the dark earthy tone */
    --bulma-primary-h: 40;
    --bulma-primary-s: 20%;
    --bulma-primary-l: 40%;
    --bulma-primary: hsl(40, 20%, 40%);
    --bulma-primary-invert: var(--color-white);

    /* Link color - using the neutral tone */
    --bulma-link-h: 40;
    --bulma-link-s: 18%;
    --bulma-link-l: 52%;
    --bulma-link: hsl(40, 18%, 52%);
    --bulma-link-invert: var(--color-white);

    /* Info color - using a slightly lighter variant */
    --bulma-info-h: 40;
    --bulma-info-s: 25%;
    --bulma-info-l: 65%;
    --bulma-info: hsl(40, 25%, 65%);
    --bulma-info-invert: var(--color-black);

    /* Danger color - using a warmer reddish-brown */
    --bulma-danger-h: 15;
    --bulma-danger-s: 35%;
    --bulma-danger-l: 45%;
    --bulma-danger: hsl(15, 35%, 45%);
    --bulma-danger-invert: var(--color-white);

    /* Background and text colors */
    --bulma-scheme-main: var(--color-white);
    --bulma-background: var(--color-light);
    --bulma-text: var(--color-black);
    --bulma-text-strong: var(--color-black);
    --bulma-border: var(--color-neutral);
    --bulma-border-hover: var(--color-dark);

    body {
        min-height: 100vh;
        font-family: Cormorant, "Brush Script MT", "Brush Script Std", "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive;
    }

    a {
        color: var(--color-light);

        &:hover {
            color: var(--color-dark);
        }
    }

    h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin: 2rem 0;
    }

    h2 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin: 2rem 0;
    }

    h3 {
        font-size: 3rem;
        padding-bottom: 1rem;
    }

    h4 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    h5 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    h6 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    p {
        margin-top: 1rem;
        font-size: 1.25rem;
        line-height: 2rem;
    }

    ul {
        margin: 0.5rem;
    }

    ul> {
        li {
            list-style-type: '> ';
            font-size: 1.2rem;
        }
    }

    .navbar,
    .navbar-menu {
        background-color: transparent;
        box-shadow: none;
    }

    .background-wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 75%;
    }

    .background-wrapper> {
        .filter {
            color: var(--color-white);
            backdrop-filter: contrast(45%);
            margin-bottom: -1px;
        }
    }

    .roses {
        background-image: url("/img/backgrounds/roses.jpg");
        background-color: darkgreen;
    }

    .trees {
        background-image: url("/img/backgrounds/trees.jpg");
        background-color: skyblue;
    }

    .flowers {
        background-image: url("/img/backgrounds/red-flower.jpg");
        background-color: lightgreen;
    }

    .elegant {
        background-color: var(--color-light);
        color: var(--color-black);

        .navbar,
        footer {
            a {
                color: var(--color-dark);
            }
        }

        footer {
            box-shadow: 0 50vh 0 50vh var(--color-light);
        }
    }

    #footer-container {
        border-top: 1px var(--color-white) solid;
    }
}

@media (prefers-color-scheme: light) {
    :root {}
}

@media (prefers-color-scheme: dark) {
    :root {}
}

[data-theme=light],
.theme-light {
    /* CSS Variables */
}

[data-theme=dark],
.theme-dark {
    /* CSS Variables */
}
