
:root {
    body {
        min-height: 100vh;
        font-family: Cormorant, "Brush Script MT", "Brush Script Std", "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive;
    }

    a {
        color: lightgrey;
    }
    a:hover {
        color: grey;
    }
    h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin: 2rem 0;
    }
    h2 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin: 2rem 0;
    }
    h3 {
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    h4 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
    h5 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    h6 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    p {
        margin-top: 1rem;
        font-size: 1.25rem;
        line-height: 2rem;
    }
    ul {
        margin: 0.5rem;
    }
    ul > li {
        list-style-type: '> ';
        font-size: 1.2rem;
    }

    .navbar, .navbar-menu {
        background-color: transparent;
        box-shadow: none;
    }

    .background-wrapper {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .background-wrapper > .filter {
        color: white;
        backdrop-filter: contrast(45%);
    }
    .roses {
        background-image: url("/img/backgrounds/roses.jpg");
        background-color: darkgreen;
    }
    .trees {
        background-image: url("/img/backgrounds/trees.jpg");
        background-color: skyblue;
    }
    .flowers {
        background-image: url("/img/backgrounds/red-flower.jpg");
        background-color: lightgreen;
    }

    .elegant {
        background-color: #efefdf;
        color: #2a2a2a;
    }
    .elegant a {
        color: grey;
    }
    .elegant footer {
        box-shadow: 0 50vh 0 50vh #efefdf;
        border-top: 1px lightgrey solid;
    }
}

@media (prefers-color-scheme: light) {
  :root {

  }
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

[data-theme=light],
.theme-light {
  /* CSS Variables */
}

[data-theme=dark],
.theme-dark {
  /* CSS Variables */
}
