
:root {
    body {
        color: white;
    }
    a {
        color: lightgrey;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.5rem;
    }
    h5 {
        font-size: 2rem;
    }
    h6 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.25rem;
    }
    ul {
        margin: 0.5rem;
    }
    ul > li {
        list-style-type: '> '
    }

    .navbar {
        background-color: transparent;
    }

    .roses {
        background-image: url("/img/backgrounds/roses.jpg");
        background-color: darkgreen;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .roses > .filter {
        backdrop-filter: contrast(55%);
    }
}

@media (prefers-color-scheme: light) {
  :root {

  }
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

[data-theme=light],
.theme-light {
  /* CSS Variables */
}

[data-theme=dark],
.theme-dark {
  /* CSS Variables */
}
