<!DOCTYPE html>

<html class="theme-light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.extra.description %}{{ page.extra.description }}{% else %}{{ config.description }}{% endif %}" />

    <meta property="og:title" content="{{ config.title }}{% if page.extra.title %} - {{ page.extra.title }}{% endif %}" />
    <meta property="og:url" content="{{ config.base_url }}{% if page.path %}{{ page.path }}{% endif %}" />
    <meta property="og:description" content="{% if page.extra.description %}{{ page.extra.description }}{% else %}{{ config.description }}{% endif %}" />
    <meta property="og:image" content="{{ config.base_url }}{% if page.extra.og_image %}{{ page.extra.og_image }}{% else %}/img/og-default.png{% endif %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ config.title }}{% if page.extra.title %} - {{ page.extra.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.extra.description %}{{ page.extra.description }}{% else %}{{ config.description }}{% endif %}" />
    <meta name="twitter:image" content="{{ config.base_url }}{% if page.extra.og_image %}{{ page.extra.og_image }}{% else %}/img/og-default.png{% endif %}" />

    <title>{{ config.title }}{% if page.extra.title %} - {{ page.extra.title }}{% endif %}</title>

    <link rel="canonical" href="{{ config.base_url }}{% if page.path %}{{ page.path }}{% endif %}" />

    {# Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet">

    {# Bulma CSS #}
    <link rel="stylesheet" href="{{ config.base_url }}/css/bulma.min.css" />

    {# Local CSS #}
    <link rel="stylesheet" href="{{ config.base_url }}/css/doula.css" />



</head>

<body>
    {% if not section.extra.extend_navbar and not page.extra.extend_navbar %}
    <div class="section elegant pb-4">
        <div class="container">
            {% include "components/navbar.html" %}
        </div>
    </div>
    {% endif %}

    {% block content %}
    {% endblock content %}


    <div id="footer-container" class="section elegant pt-4 mt-0">
        <div class="container">
            {% include "components/page_footer.html" %}
        </div>
    </div>

    {# Lucide Icons #}
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
        lucide.createIcons();
    </script>

</body>

</html>
