<!DOCTYPE html>

<html class="theme-light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.description }}" />

    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:url" content="{{ config.base_url }}" />
    <meta property="og:description" content="{{ config.description }}" />

    <title>{{ config.title }}</title>

    <link rel="canonical" href="{{ config.base_url }}" />

    {# Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet">

    {# Bulma CSS #}
    <link rel="stylesheet" href="{{ config.base_url }}/css/bulma.min.css" />

    {# Local CSS #}
    <link rel="stylesheet" href="{{ config.base_url }}/css/doula.css" />



</head>

<body>

    {% if not section.extra.extend_navbar %}
    <div class="{% if section.extra.section_type
        and section.extra.section_type == 'image_background'
            %}background-wrapper {{ section.extra.image_name }}{%
    endif %}">
        <div class="filter section">
            <div class="container">
                {% include "components/navbar.html" %}
            </div>
        </div>
    </div>
    {% endif %}

    {% block content %}
    {% endblock content %}


    <div class="filter section elegant">
        <div class="container">
            {% include "components/page_footer.html" %}
        </div>
    </div>

    {# Lucide Icons #}
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
        lucide.createIcons();
    </script>

</body>

</html>
