{% extends "base.html" %}

{% block content %}

<div class="{%
        if section.extra.section_type == 'image_background'
        %}background-wrapper {{ section.extra.image_name }}{%
        endif %}">

    {% if section.extra.extend_navbar %}
    <div class="section filter pb-4">
        <div class="container">
            {% include "components/navbar.html" %}
        </div>
    </div>
    {% endif %}

    <div class="section filter">
        <div class="container">
            {% if section.content %}{{ section.content | safe }}{% endif %}
        </div>
    </div>


    {% if section.extra.extend_footer %}
    <div id="footer-container" class="section filter pt-4 mt-0">
        <div class="container">
            {% include "components/page_footer.html" %}
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}
