{% extends "base.html" %}

{% block content %}

<div class="{%
        if section.extra.section_type == 'image_background'
        %}background-wrapper {{ section.extra.image_name }}{%
        endif %}">

    <div class="filter section">
        <div class="container">
            {% include "components/navbar.html" %}
            {% if section.content %}{{ section.content | safe }}{% endif %}
        </div>
    </div>
</div>


{% for page in section.pages | sort(attribute='path') %}
<div class="{%
if page.extra.section_type == 'image_background'
    %}background-wrapper {{ page.extra.image_name }}{%
elif page.extra.section_type == 'elegant'
    %}elegant{%
endif %}">

    <div class="filter section">
        <div class="container">
            {% if page.content %}{{ page.content | safe }}{% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
