<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ config.base_url }}">
                <img src="{{ config.base_url }}{{ config.extra.logo_path }}" alt="{{ config.title }}" />
            </a>

            {% if config.extra.navbar.links.length %}
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-top">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            {% endif %}
        </div>

        {% if config.extra.navbar.links.length %}
        <div id="navbar-top" class="navbar-menu">
            <div class="navbar-end">
                {% for link in config.extra.navbar.links %}
                {% for translation in config.extra.links.translations %}
                {% if translation.name == link %}
                <a class="navbar-item has-text-weight-semibold"
                    href="{{ config.base_url }}{{ translation.url }}">{{translation[lang] | safe}}</a>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });

    });
</script>
