<footer class="container columns">
    {% if config.extra.footer.links | length %}
    <div class="column is-three-quarters has-text-left">
        {% for link in config.extra.footer.links %}
        {% for translation in config.extra.links.translations %}
        {% if translation.name == link %}
        <a class="display-block mr-4" href="{{ config.base_url }}{{translation.url}}"><strong>{{translation[lang]
                | safe}}</strong></a>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="column has-text-right">
        &copy;&nbsp;2025 {{ config.extra.footer.notice | safe }}
    </div>
</footer>
